<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tm470.mb24853.projectlluca" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:label="@string/sign_in"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".UserProfileActivity"
            android:label="@string/user_profile"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".EditOwnedPacksActivity"
            android:label="@string/title_activity_edit_packs"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".DeckListActivity"
            android:label="@string/customdecklist"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".EditDeckActivity"
            android:label="@string/viewdeck"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".CardBrowserActivity"
            android:label="@string/title_activity_card_browser"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.MainMenuActivity" />
        </activity>

        <activity
            android:name=".CustomDeckCardBrowserActivity"
            android:label="Add cards to deck"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".AddPacksToUserActivity"
            android:label="@string/edityourpacks"
            android:parentActivityName=".EditOwnedPacksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.EditOwnedPacksActivity" />
        </activity>

        <activity
            android:name=".AddCardsToDeckCardBrowserActivity"
            android:label="Add cards"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".AddHeroCardsToDeckCardBrowserActivity"
            android:label="@string/addheroes"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".DeckCardListFiltersActivity"
            android:label="@string/choosefilters"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".DeckHeroListFiltersActivity"
            android:label="@string/choosefilters"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

        <activity
            android:name=".EditHeroesInDeckActivity"
            android:label="Edit Heroes"
            android:parentActivityName=".DeckListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tm470.mb24853.projectlluca.DeckListActivity" />
        </activity>

    </application>

</manifest>
